fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic
boto3

langchain
langchain-community
langchain-aws

faiss-cpu

pypdf

python-multipart

passlib[bcrypt]
python-jose

langchain-text-splitters
